.chooseyourplan-container{
    padding: 8rem;
    background-color: white; 
    opacity: 0.95;
    justify-content: center;
}

.Meal1{
    padding: 6rem;
    background-color: yellow;
    margin-top: -90px;
    margin-bottom: 25px;
    width: 300px;
}

.Meal2{
    padding: 6rem;
    background-color:purple;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
}

.Meal3{
    padding: 6rem;
    background-color: pink;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 300px;
}