.SignUp-bigBox {
  padding: 75px 3%;
  margin-right: 5%;
  margin-bottom: 5%;
  border: 5px solid red;
  background-color: white;
  text-align: center;
  .sign-up-title {
    color: orange;
  }
  .sign-up-subtitle {
    color: grey;
  }
}
