.nextbutton{
    outline: none;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    background-color: #ED7D21;
    padding: 0.5rem;
    margin: 1rem 0rem;
    width: 100%
}

.container{
width: 1500px;
}

.outerBox{
    width: 1000px;
}

.row{
    color: white;
}