.footer {
  background-color: #111111;
  padding: 50px 5%;
  margin: auto;
  color: white;
  
}

.footer a, .footer b, .footer p {
  color: white;
  line-height: 2rem;
  font-size: 1rem;
}

.copyright p {
  font-size: 0.8rem;
  text-align: center;
}