.footer {
  background-color: #ED7D21;
  padding: 50px 5%;
  margin: auto;
  color: white;
}

.footer a {
  color: white;
  line-height: 2rem;
}

.copyright {
  font-size: 12px;
  text-align: center;
}